
.box{
	height: 690px;

}
.circ{
	width: 50px;
}

h4{
	margin-left: 385px;
	margin-top: -500px;
	font-size: 25px;
}

.ley1{
	margin-top: 50px;
	margin-left: 376px;
}

.ley2, .ley3, .ley4, .ley5{
	margin-top: 50px;
	margin-left: 388px;
}

h6{
	margin-left: 100px;
	font-size: 18px;
	margin-top: -40px;
}

.p1{
	margin-left: 70px;}

.imley{
	border-radius: 100px;
	margin-top: 90px;
	margin-left: 50px;
	width: 140px;
	height: 140px;
}

.info{
	margin-top: 150px;
	margin-left: 60px;
	border-radius: 5px;
	box-shadow: 0px 4px 4px #99abb4;
	width: 250px;
	height: 435px;
	margin: 50px;
}

.nare{
	text-align: justify;
	margin-top: 45px;
	width: 178px;
	margin-left: 35px;

}