   .grafica{
        margin-left: 210px;
        margin-top: -315px;
    }
    .factura{
        margin-top: 350px;
    }
    .topbar{
        background-color: #26c6da;
        height: 55px;

    }
    .perfil{
        color: #fff;
        font-size: 18px;
        margin-top: 2px;
        font-family: Helvetica Neue, Helvetica,Arial,sans-serif;
    }
    .dropdown{
        width: 600px;
        margin-right: 100px;
    }
    
    .user{
        margin-right: 1007px;
        margin-top: -3px;
    }
