form{
	margin-top: 50px;
	margin-left: 30px;
	margin-right: 600px;
	padding-bottom: 250px;
	padding-left: 50px;
	padding-top: 350px;
	font-family: Verdana;
	background-color: cyan;
	background-image: url(curry.JPG) 
	;


}
 
